<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://rajje.db.elephantsql.com:5432/ylbwemyh</property>-->
<!--        <property name="hibernate.connection.username">ylbwemyh</property>-->
<!--        <property name="hibernate.connection.password">kOHhsRdraZXpIQXgFzmYIv2TpvGOEBqe</property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1/fantasy</property>
        <property name="hibernate.connection.username">fantasy</property>
        <property name="hibernate.connection.password">fantasy</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="edu.duke.ece.fantasy.database.Monster"/>
        <mapping class="edu.duke.ece.fantasy.database.Soldier"/>
        <mapping class="edu.duke.ece.fantasy.database.Territory"/>
        <mapping class="edu.duke.ece.fantasy.database.Building"/>
        <mapping class="edu.duke.ece.fantasy.database.Shop"/>
        <mapping class="edu.duke.ece.fantasy.database.Item"/>
        <mapping class="edu.duke.ece.fantasy.database.Terrain"/>
        <mapping class="edu.duke.ece.fantasy.database.Player"/>
    </session-factory>
</hibernate-configuration>